 <div class="carousel" id="carousel">
        <div class="carousel-cell">
            <img src="./src/img/carousel/dune.jpg" alt="dune" />
        </div>
        <div class="carousel-cell">
            <img src="./src/img/carousel/boss-baby.jpg" alt="boss baby" />
        </div>
        <div class="carousel-cell">
            <img src="./src/img/carousel/venom.jpg" alt="venom" />
        </div>
        <div class="carousel-cell">
            <img src="./src/img/carousel/the-matrix-resurrections.jpg" alt="The Matrix Resurrections" />
        </div>
        <div class="carousel-cell">
            <img src="./src/img/carousel/house-of-gucci.jpg" alt="house of gucci" />
        </div>
        <div class="carousel-cell">
            <img src="src/img/carousel/ainbo.jpg" alt="ainbo" />
        </div>
    </div>
    
    <main class="mainContainer" id="mainContainer">
        <div class="commercial">
            <div class="cinemaEvent eventContainer">
                <h1 class="cinemaEventText">Bioevenemang</h1>
            </div>
            <div class="snacksEvent eventContainer">
                <h1 class="cinemaEventText">Rabatter</h1>
            </div>
            <div class="movieEvent eventContainer ">
                <h1 class="cinemaEventText ">Filmevent</h1>
            </div>
        </div>
        <div class="movies" id="movies">
            <div class="movieContainer comingSoon">
                <h1 class="categoryForMovies">Kommer snart</h1>
            </div>
            <div class="movieContainer onCinemaNow">
                <h1 class="categoryForMovies">Visas nu</h1>
            </div>
        </div>
        <div class="availableMovies">
            <h1 class="kalendarium">kalendarium</h1>
            <div class="ticketLists">
                <div class="today time">
                    <h3>Idag</h3>
                </div>
            </div>
            <div class="ticketLists">
                <div class="tomorrow time">
                    <h3>Imorgon</h3>
                </div>
            </div>
        </div>
        </div>
    </main>